@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fafafa;
  line-height: 1.6;
}

/* GENERAL LAYOUT */
.container {
  padding: 96px 0;
}

section {
  padding: 0 32px;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 64px;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.purple {
  color: #6415ff;
}

main {
  margin-bottom: 96px;
}

/* NAVBAR */

nav {
  width: 100%;
  margin-top: 48px
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__logo--img {
  width: 44px;
  height: 44px;
}

.nav__logo--title {
  font-weight: 800;
  font-size: 1.5rem;
  color: black;
}

.nav__link--primary{
  text-decoration: none;
  color: #243e63;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.3s ease;
  margin-left: 48px;
  
}

.nav__link {
  text-decoration: none;
  color: #243e63;
  font-size: 14px;
  font-weight: 700;
  transition: color 0.3s ease;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link--button {
  background-color: #6415ff;
  color: white;
  padding: 10px 32px;
  border-radius: 9999px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav__link--button:hover {
  background-color: #4b0fcc;
  transform: translateY(-2px);
}

/* HEADER */

header {
  position: relative;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__description {
  width: 40%;

}

.header--img__wrapper {
  flex: 0 0 60%; /* 60% of row width */
}

.header--img {
  width: 100%; /* make image fill its container */
  height: auto;
}

.header--text__para {
  margin: 32px 0;
}

h1 {
  font-size: 36px;
  color: #1a202c;
  line-height: 1.25;
  max-width: 1280px;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 92px;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__email--btn:hover {
  background-color: rgba(60, 13, 153);
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.header--customer__text {
  font-size: 12px;
  font-weight: 800;
  color: grey
}

.custo__image {
  margin-top: 12px;
  max-width: 428px;
}


/* FEATURES SECTION */

.row__narrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 48px;
}

.features--intro__cont--text {
    font-size: 1rem;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1px;
    padding-bottom: 16px;
}

.features--intro__cont--heading {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    padding-bottom: 16px;
}

.features--intro__cont--para {
    font-size: 1.1rem;
    font-weight: 500;
    color: #4a5568;
    line-height: 1.6;
    max-width: 600px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__text--cont {
    margin-top: 12px;
    padding-left: 24px;
}

.feature__text--heading {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.feature__text--para {
    font-size: 1rem;
    font-weight: 400;
    color: #4a5568;
    line-height: 1.6;
}

/* QUALITY SECTION */

/* QUALITY SPACING */

#quality {
    padding: 6rem 2rem;
}

#quality .container {
    max-width: 1200px;
    margin: 0 auto;
}

.quality .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* Text wrapper */
.quality--para__wrapper {
    flex: 1 1 450px;
    min-width: 300px;
}

/* Image wrapper */
.quality--img__wrapper {
    flex: 1 1 450px;
    display: flex;
    justify-content: center;
    min-width: 250px;
}

.quality--img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Text styles */
.quality--title {
    font-size: 1rem;
    font-weight: 700;
    color: #6415ff;
    margin-bottom: 12px;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 12px;
}

.quality--para {
    font-size: 1.125rem;
    font-weight: 500;
    color: #4a5568;
    line-height: 1.6;
    margin-bottom: 14px;
}

/* Button */
.quality--button {
    background-color: #6415ff;
    color: white;
    padding: 8px 28px;
    border-radius: 9999px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.quality--button:hover {
    background-color: #4b0fcc;
    transform: translateY(-2px);
}

/* STEPS SECTION */

/* STEPS SPACING */
#steps {
    padding: 6rem 2rem;
}

#steps .container {
    max-width: 1200px;
    margin: 0 auto;
}

.steps .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.steps--img__wrapper {
    flex: 1;
    position: relative;
    display: flex;
    width: 100%;
}

.steps--img {
    width: 99%;
    height: auto;
}

/* STEPS TEXT SPACING */

.steps__desc--wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 12px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
}

.steps__intro__heading {
    padding-bottom: 24px;
}

/* STEPS TEXT STYLES */

.steps--intro__text {
    font-size: 1rem;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1px;
    padding-bottom: 16px;
}

.step__number {
    font-size: 2rem;
    font-weight: 800;
    color: #6415ff;
    margin-right: 24px;
}

.step__title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.step__para {
    font-size: 1rem;
    font-weight: 400;
    color: #4a5568;
    line-height: 1.6;
}

/* VALUES SECTION */

#values .container {
  padding: 96px 0;
}

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.values--intro__cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 40%;
}

.values--intro__text {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.values--intro__heading {
  width: 50%;
}

.values--intro__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.6;
  max-width: 600px;
  width: 50%;
  padding-bottom: 8px;
}

.values--list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 32px;
}

.value {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.value__heading {
  font-size: 20px;
  font-weight: 700;
}

.value__icon {
  font-size: 22px;
  color: #6415ff;
}

.value__title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.value__para {
  margin: 0;
  color: #555;
  max-width: 350px;
  line-height: 1.5;
}

.value__icon--wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0e5ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.values--button {
  margin-top: 32px;
  background-color: #6415ff;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 12px 24px;
  align-self: flex-start;
  margin-left: 0; 
  transition: background-color 0.3s ease;
}

.values--button:hover {
  background-color: #5120cc;
}

.values--img__wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.values--img {
  width: 100%;
  height: auto;

}

/* PRICING SECTION */

/* PRICING LAYOUT */

#pricing .row {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.plans {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 80rem;
  margin: 0 auto;
}

.plan__top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.plan__features {
  margin-left: -2rem;
  margin-right: -2rem;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.plan {
  position: relative;
  margin-top: 0;
  display: flex;
  background-color: #fff;
  width: 100%;
  max-width: 24rem;
  border-radius: 0.5rem;
  flex-direction: column;
  padding-top: 0.5rem;
  text-align: center;
  color: rgb(26,32,44);

}
/* PRICING STYLE*/

.pricing--intro__text {
    font-size: 1rem;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1.5px;
}

.pricing--intro__para {
    font-size: 1.1rem;
    font-weight: 400;
    color:#a0aec0;
    line-height: 1.6;
    width: 50%;
}

.plan__name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.plan__price {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.plan__duration {
    font-size: 1rem;
    font-weight: 600;
    color:#aaa;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.plan__purpose {
    font-size: 1.2rem;
    font-weight: 800;
    color:#4a5568;
}

.plan__feature {
    font-size: 1rem;
    font-weight: 500;
    color:#555;
}

.plan:nth-child(1) .plan__stripe {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(56,178,172) 0%, rgb(129, 230, 217) 100%);
}

.plan__stripe {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.plan__top {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 1.625;
  border-bottom: 1px solid #e5e5e5;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.plan:nth-child(2) .plan__stripe {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(216, 20, 209) 0%, rgb(129, 230, 217) 100%);
}

.plan__features {
  margin-left: -2rem;
  margin-right: -2rem;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  line-height: 1.5;
}

.plan__bottom {
  padding: 2rem;
  border-top: 1px solid #e5e5e5;
}

.plan:nth-child(3) .plan__stripe {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(9, 137, 242) 0%, rgb(129, 230, 198) 100%);
}

.plan__button {
  background-color: #6415ff;
  color: #fff;
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
  font-weight: 600;
  
}

.plan__button:hover {
  background-color: #f0e5ff;
}

/* TESTIMONIALS SECTION */

#test {
    padding: 6rem 2rem;
}

#test .container {
    max-width: 1200px;
    margin: 0 auto;
}

.test .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.testimonials--img {
    width: 40%;
}

.testimonials--desc__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
}

.section--tag {
    font-size: 1rem;
    font-weight: 700;
    color: #6415ff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.section--para {
    font-size: 1.1rem;
    font-weight: 400;
    color:#a0aec0;
    line-height: 1.6;
}

.testimonial--author__info {
    display: flex;
    align-items: center;
}

.testimonial--stars {
    margin-top: 32px;
    margin-bottom: 12px;
}

.testimonal__text {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.testimonial__para {
    font-size: 16px;
    font-weight: 400;
    color:#555;
    line-height: 1.6;
    margin-bottom: 16px;
}

.testimonial--author__info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial--author__img--wrapper {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial--author__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial--author__details {
    display: flex;
    flex-direction: column;
}

.testimonial--author__name {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
}

.testimonial--author__role {
    font-size: 0.99rem;
    font-weight: 500;
    color: #666;
}

.testimonial--arrows {
    display: flex;
    gap: 12px;
    margin-left: auto; 
    align-items: center; 
}

.testimonial--arrows i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    gap: 24px;
}

.testimonial--arrows i:hover {
    background-color: #e0e0e0;
    color: #000;
}

footer {
  background-color: #6415ff;
  padding: 96px 32px;
  position: relative;
  overflow: hidden;
  color: white;
}

.footer__blob--1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 320px;
  transform: translateX(-80px) translateY(-128px);
  z-index: 1;
  opacity: 0.5;
}

.footer__blob--2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  height: 320px;
  transform: translateX(128px) translateY(192px);
  z-index: 1;
  opacity: 0.5;
}

.footer__row {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer__column {
  flex: 1 1 160px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column--title {
  margin-bottom: 18px;
  font-weight: 700;
  color: white;
}

.footer__column--link {
  color: white;
  text-decoration: none;
  margin-bottom: 12px;
  opacity: 0.9;
}

.footer__divider {
  width: 100%;
  height: 2px;
  background: rgb(116,44,255);
  margin: 64px 0;
}

.footer__bottom--row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__logo--img {
  width: 44px;
  height: 44px;
}

.footer__bottom--logo {
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.footer__bottom--copyright {
  color: white;
  font-weight: 400;
}

.footer__bottom--socials {
  display: flex;
  align-items: center;
  margin-left: -16px;
  gap: 12px;
}

.footer__bottom--social--link {
  background-color: white;
  color: #6415ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media (max-width: 1024px) {
  .header__description, .header--img__wrapper {
    width: 100%;
  }

  .steps__desc--wrapper {
    width: 100%;
  }

  .values--intro__heading,
  .values--intro__para {
    width: 100%;
  }

  .feature {
    width: 48%;
  }

  .plans {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .row, .row__narrow, .quality .row, .steps .row, #values .row {
    flex-direction: column;
    gap: 32px;
  }

  .feature {
    width: 100%;
  }

  .header__email {
    max-width: 100%;
    margin-bottom: 32px;
  }

  .header__email--input {
    padding-right: 140px; /* adjust button overlap on mobile */
  }

  h1 {
    font-size: 28px;
  }

  .features--intro__cont--heading,
  h2 {
    font-size: 2.2rem;
  }

  .steps--intro__text,
  .features--intro__cont--text {
    font-size: 0.9rem;
  }

  .step__number {
    font-size: 1.5rem;
  }

  .step__title {
    font-size: 1.4rem;
  }

  .quality--title,
  .values--intro__text {
    font-size: 0.9rem;
  }
}
